Options +FollowSymLinks
RewriteEngine On

Options -Indexes

ErrorDocument 403 https://github.com/devfemibadmus/ebrc-php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
