*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
}
html{
    scroll-behavior:smooth;
}
.container{
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}
:root{
    --theme:#9EB69F;
    --theme2:#C8E5C9;
}
.container{
    width:100vw;
    min-height:100%;
    background-size:cover;
    overflow:hidden;
}
header{
    width:100vw;
    height:auto;
    display:flex;
    align-items:center;
    padding:10px;
    overflow:hidden;
}
header .logo{
    width:60px;
    height:60px;
    border-radius:50px;
    margin:0 10px 0 10px;
    animation:rot .5s ease-in-out;
    animation-delay:70ms;
}
@keyframes rot{
    from{rotate:0deg;}
    to{rotate:360deg;}
}
.banner{
    width:100vw;
    height:auto;
    color:#FFF;
    background:purple;
    background-size:cover;
    background-position:center center;
}
.shadow{
    width:100vw;
    height:auto;
    background:rgba(0,0,0,.65);
}
.dbtn{
    list-style-type:none;
    display:flex;
    align-items:center;
    padding:5px;
    background:var(--theme);
    width:auto;
    border-radius:15px;
    position:absolute;
    right:0;
    scale:.85;
    box-shadow:inset 5px 5px 10px rgba(0,0,0,.3), 5px 5px 15px rgba(0,0,0,.15);
    transition:.1s;
}
.dbtn:active{
    scale:.865;
    box-shadow:inset 5px 5px 10px rgba(0,0,0,.2), -5px -5px 15px rgba(0,0,0,0);
}
.dbtn i{
    margin:0 5px;
}
.dbtn a{
    text-decoration:none;
    color:#fff;
    font-size:16px;
    padding:5px;
    cursor:none;
    font-weight:bold;
}
.info{
    width:100vw;
    height:auto;
    padding:10px;
}
.headline{
    width:auto;
    height:auto;
    padding:10px;
    margin:0 auto;
    margin-top:80px;
    font-size:18px;
    text-align:left;
    text-transform:capitalize;
}
.name{
    color:var(--theme2);
    text-transform:lowercase;
    text-shadow:1px 1px 2px rgba(0,0,0,.75);
}
.ill{
    width:270px;
    height:290px;
    background:url(https://i.postimg.cc/TwsQJCpj/20230228-081328.png);
    background-size:cover;
    margin:0 auto;
    margin-top:10px;
}
.sec1{
    width:auto;
    height:auto;
    padding:10px;
    margin:0 auto;
    margin-top:60px;
    background:rgba(0,0,0,.2);
    backdrop-filter:blur(10px);
    border-radius:15px;
    font-size:16px;
    text-align:left;
    border-left:10px solid var(--theme2);
    text-transform:capitalize;
}
.sections{
    width:100%;
    height:auto;
    background:#fff;
    padding:10px;
}
.title1{
    width:auto;
    height:auto;
    padding:10px 7px 10px 6px;
    margin:0 auto;
    margin:20px;
    background: linear-gradient(#ffffff, rgb(233, 241, 250));
    font-size:14.5px;
    text-align:left;
    text-align:justify;
    border-radius:15px;
    text-transform:capitalize;
    text-align:center;
    transition:.5s;
    box-shadow:2px 2px 10px rgba(205,205,205,.45);
    color:#575757;
}
.title1 h3{
    margin-top:10px;
}
.title1:hover{
    box-shadow:  20px 10px 40px #cdcdcd;
    scale:1.03;
}
.btn_for_banner{
    list-style-type:none; background:url(https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png);
    background-position:center center;
    background-size:cover;
    width:180px;
    height:35px;
    transition:.1s;
    cursor:pointer;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:25px;
}
.btn_for_banner:active{
    scale:.965;
}
.btn_for_banner i{
    margin:0 5px;
}
.btn_for_banner a{
    text-decoration:none;
    color:#fff;
    font-size:16px;
    padding:5px;
    cursor:none;
    font-weight:bold;
}
.secm{
    width:130px;
    height:150px;
    background:url();
    background-size:cover;
    margin:0 auto;
    margin-top:10px;
}
.secm1{
   width:160px;
   height:200px; background:url(https://static.vecteezy.com/system/resources/previews/010/987/077/original/3d-illustration-of-holding-phone-with-app-download-png.png);
    background-size:cover;
    background-position:center center;
}
.secm2{
    width:200px;
    height:180px; background:url(https://static.vecteezy.com/system/resources/previews/010/986/906/original/3d-illustration-of-thumb-up-profile-account-on-smartphone-png.png);
    background-size:cover;
}
.secm3{
    width:220px;
    height:180px; background:url(https://static.vecteezy.com/system/resources/previews/010/974/073/original/mobile-data-security-concept-3d-render-illustration-mobile-security-app-on-smartphone-screen-secure-confidential-files-folder-with-paper-documents-access-and-private-lock-png.png);
    background-size:cover;
}
.footer{
    width:100vw;
    height:350px;
    background:#011221;
    padding:10px;
    color:#fff;
    position:relative;
}
.contact{
    width:200px;
    margin-left:15px;
    margin-top:20px;
    font-size:17px;
    font-size:15px;
    color:pink;
}
.footer li{
    list-style-type:none;
    padding:5px;
    margin-left:20px;
    color:green;
    font-size:14px;
}
.footer a{
    color:green;
}
.footer .copyright{
    margin:0 auto;
    font-size:13px;
    margin-left:25px;
    position:absolute;
    bottom:2.5%;
}
.legal{
    margin-top:10px;
}
.follow{
    margin-top:10px;
}
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
display: none;}
@media (min-width:600px){
    .sections{
        display:flex;
        align-items:center;
        justify-content:center;
        padding:220px 0px;
    }
    header{
        height:110px;
    }
    .headline{
        font-size:27px;
        margin-left:30px;
    }
    .dbtn{
        scale:.9;
        margin:-5px 10px 0px 0px;
    }
    header .logo{
        width:80px;
        height:80px;
        margin-top:15px;
    }
    header h2{
        font-size:25px;
        margin-top:10px;
    }
    .title1{
       width:250px;
       height:auto;
       font-size:14px;
    }
    .ill{
        width:380px;
        height:400px;
        margin:0;
        margin-left:50px;
        margin-top:10px;
    }
    .secm2,.secm3{
        width:220px;
        height:200px;
    }
    .footer{
        height:400px;
    }
    .secm1{
        scale:.9;
        width:160px;
        height:200px;
    }
    .footer li{
        font-size:16px;
    }
    .footer .contact{
        font-size:18px;
    }
    .footer .copyright {
        bottom:20px;
        font-size:15px;
        margin-left:35px;
    }
}